@page "/teamsforuser/{idUser:int}"
@using TaskPanelLibrary.DataTest
@using TaskPanelLibrary.Service.Interface

@inject ITeamService TeamService

@inject Panels Panels;

<title>PageTeamsForUser</title>

<h1>Teams for user</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach ( TaskPanelLibrary.Entity.Team team in teams)
    {
        <tr>
            <td @onclick="() => NavigateToPanelsForTeams(team.Id)" style="cursor: pointer;">@team.Name</td>
            <td @onclick="() => NavigateToPanelsForTeams(team.Id)" style="cursor: pointer;">@team.TasksDescription</td>
            <td>
                <button class="btn btn-primary mt-3" @onclick="() => NavigateUpdateTeam(team.Id)" style="cursor: pointer;">Update</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    
    [Parameter]
    public int idUser { get; set; }

    List<TaskPanelLibrary.Entity.Team> teams;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Panels.createTeamAndPanel();
        teams = TeamService.TeamsForUser(idUser);
    }
    
    [Inject]
    private NavigationManager Navigation { get; set; }

    private void NavigateToPanelsForTeams(int teamId)
    {
        Navigation.NavigateTo($"/panelsforteams/{teamId}");
    }
    
    private void NavigateUpdateTeam(int teamId)
    {
        Navigation.NavigateTo($"/updateteam/{teamId}");
    }
}