@page "/panelsforteams/{idTeam:int}"

@using TaskPanelLibrary.Entity
@using TaskPanelLibrary.DataTest
@using TaskPanelLibrary.Service.Interface

@inject IPanelService PanelService;

@inject Panels Panels;

<PageTitle>Panels for teams</PageTitle>

<h1>Panels for team</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Panel panel in _panels)
    {
        <tr @onclick="() => NavigationPanel(panel.Id)" style="cursor: pointer;">
            <td>@panel.Name</td>
            <td>@panel.Description</td>
        </tr>
    }
    </tbody>
</table>

@code {

    [Parameter]
    public int idTeam { get; set; }

    private List<Panel> _panels;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Panels.createTeamAndPanel();
        _panels = PanelService.GetAllPanelForTeam(idTeam);
    }

    [Inject]
    private NavigationManager Navigation { get; set; }

    private void NavigationPanel(int panelId)
    {
        Navigation.NavigateTo($"/taskforpanel/{panelId}");
    }
}