@page "/comments/{taskId:int}"

@using TaskPanelLibrary.DataTest
@using TaskPanelLibrary.Entity
@using TaskPanelLibrary.Repository.Interface
@using TaskPanelLibrary.Service.Interface
@using Task = TaskPanelLibrary.Entity.Task

@inject ICommentService CommentService
@inject ITaskService TaskService
@inject Panels Panels
@inject NavigationManager Navigation

<title>Comments for Task</title>

<h1 class="text-left text-dark font-weight-bold display-4 mb-4">Comments for Task</h1>

<table class="table table-bordered table-hover mt-3 shadow-sm rounded bg-white">
    <thead class="thead-light">
    <tr>
        <th>Id</th>
        <th>Task Id</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Comment comment in comments)
    {
        <tr>
            <td @onclick="() => NavigationViewComment(comment.Id)" style="cursor: pointer;">@comment.Id</td>
            <td @onclick="() => NavigationViewComment(comment.Id)" style="cursor: pointer;">@comment.TaskId</td>
            <td @onclick="() => NavigationViewComment(comment.Id)" style="cursor: pointer;">@comment.Message</td>
            <td @onclick="() => NavigationViewComment(comment.Id)" style="cursor: pointer;">@comment.Status</td>
            <td>
                <button class="btn btn-outline-primary btn-sm" @onclick="() => NavigationUpdateComment(comment.Id)">Update</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="d-flex justify-content-start mt-4">
    <button class="btn btn-primary" @onclick="NavigationCreateComment" style="cursor: pointer;">New Comment</button>
    <button class="btn btn-danger text-white ml-3" style="margin-left: 10px; cursor: pointer;" @onclick="NavigateBackToTasks">Cancel</button>
</div>

@code {
    [Parameter] public int taskId { get; set; }

    private List<Comment> comments;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Panels.createTeamAndPanel();
        comments = CommentService.GetCommentForTask(taskId);
    }

    private void NavigationViewComment(int commentId)
    {
        Navigation.NavigateTo($"/comment/view/{commentId}/{taskId}");
    }

    private void NavigationUpdateComment(int commentId)
    {
        Navigation.NavigateTo($"/comment/update/{commentId}");
    }

    private void NavigationCreateComment()
    {
        Navigation.NavigateTo($"/comment/new/{taskId}");
    }

    private void NavigateBackToTasks()
    {
        Task task = TaskService.GetTaskById(taskId);
        Navigation.NavigateTo($"/tasks/panel/{task.PanelId}");
    }

}