@using TaskPanelLibrary.Service
@inject AuthService AuthService
@inject NavigationManager NavigationManager

@if (AuthService.IsLoggedIn())
{
    <ul class="nav flex-column">
        @if (AuthService.GetCurrentUser()?.IsAdmin == true)
        {
            <li class="nav-item">
                <a class="nav-link" href="/users">User Management</a>
            </li>
        }

        <li class="nav-item">
            <button class="nav-link" @onclick="Logout">Log Out</button>
        </li>
    </ul>
}

@code {

    private void Logout()
    {
        AuthService.Logout();
        NavigationManager.NavigateTo("/login");
    }

}